<ion-progress-bar type="indeterminate" color="aula-movil" *ngIf="loading"></ion-progress-bar>
<ion-header *ngIf="!loading">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Regresar"></ion-back-button>
    </ion-buttons>
    <ion-title>Grupo {{groupsService.group?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!loading">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="students">
        <ion-icon name="people"></ion-icon>
        <ion-label>Alumnos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="assistance">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label>Asistencia</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="activities">
        <ion-icon name="bookmarks"></ion-icon>
        <ion-label>Actividades</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
