<ion-header>
  <ion-toolbar color="aula-movil">
    <ion-buttons slot="start">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Reporte de Actividades</ion-title>
  </ion-toolbar>
</ion-header>
<ion-slides [options]="slideOpts" [pager]="true">
  <ion-slide class="ion-padding-bottom">
    <ion-content fullscreen>
      <app-activities-selection (selectedActivitiesEvent)="activitiesSelected($event)"></app-activities-selection>
    </ion-content>
  </ion-slide>
  <ion-slide>
    <ion-content fullscreen>
      <app-student-selection (studentSelectedEvent)="studentSelected($event)"></app-student-selection>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="aula-movil">
          <ion-icon name="document-text"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
  </ion-slide>
  <ion-slide>
    <ion-content fullscreen>
      <app-report-card [student]="student" [activities]="activities"></app-report-card>
    </ion-content>
  </ion-slide>
</ion-slides>
