<ion-header>
  <ion-toolbar color="aula-movil">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['summary']">
        <ion-icon slot="icon-only" name="bar-chart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header mode="ios">Fecha de asistencia</ion-list-header>
    <ion-item detail>
      <ion-label>Asistencia</ion-label>
      <ion-datetime display-format="DD/MMMM/YYYY" placeholder="Fecha de asistencia" [(ngModel)]="assistanceDate"
                    cancelText="Cancelar" doneText="Seleccionar" [monthNames]="monthNames"
                    #datetime (ionChange)="validateAssistance(datetime)"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-searchbar placeholder="Busca alumnos" class="ion-padding" cancelButtonIcon
                 (ionChange)="filterStudents($event)" *ngIf="datetime.value"></ion-searchbar>
  <ion-progress-bar type="indeterminate" color="aula-movil" *ngIf="loading"></ion-progress-bar>
  <ion-list *ngIf="!loading && datetime.value">
    <app-empty-list *ngIf="students.length === 0; else studentsInGroup"
                    emptyText="No se encontraron alumnos"></app-empty-list>
    <ng-template #studentsInGroup>
      <ion-item>
        <ion-note slot="end" class="ion-text-end">Falta</ion-note>
      </ion-item>
      <ion-item *ngFor="let student of students">
        <ion-chip slot="start">
          <ion-icon name="person"></ion-icon>
          <ion-label>{{student?.listNumber}}</ion-label>
        </ion-chip>
        <ion-label>{{student.displayName}} {{student.displayLastName}}</ion-label>
        <ion-checkbox slot="end" color="aula-movil" [name]="student.uid"
                      (ionChange)="selectStudent($event, student)"></ion-checkbox>
      </ion-item>
      <ion-item lines="none"></ion-item>
    </ng-template>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="aula-movil" (click)="saveAssistance()"
                    [disabled]="students?.length === 0">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
