<ion-content>
  <ion-searchbar placeholder="Busca actividades" class="ion-padding"
                 cancelButtonIcon (ionChange)="filterActivities($event)"></ion-searchbar>
  <ion-progress-bar type="indeterminate" color="aula-movil" *ngIf="loading"></ion-progress-bar>
  <ion-card *ngIf="activities?.length === 0">
    <ion-card-header color="medium">
      <ion-card-title>No se encontraron actividades</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="disableReorder">
    <ion-item-sliding *ngFor="let activity of activities">
      <ion-item-options side="start">
        <ion-item-option color="warning" (click)="showEditActivity(activity)">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="showDeleteActivity(activity)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item detail button (click)="showSaveGrades(activity)">
        <ion-reorder slot="start"></ion-reorder>
        <ion-label>
          <span>Actividad {{activity.position}}: {{activity.name}}</span>
          <p *ngIf="!activity.dueDate">Sin fecha de entrega</p>
          <p>{{activity.dueDate | date: 'mediumDate'}}</p>
        </ion-label>
        <ion-badge color="aula-movil" slot="end">Mínimo: {{activity.minScore}}</ion-badge>
      </ion-item>
    </ion-item-sliding>
  </ion-reorder-group>
  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button color="aula-movil" (click)="showAddActivity()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab horizontal="start" vertical="bottom">
    <ion-fab-button color="medium">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="grid" color="aula-movil"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button (click)="disableReorder = !disableReorder" *ngIf="activities?.length > 1">
        <ion-icon name="reorder" color="aula-movil"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
