<ion-header>
  <ion-toolbar color="aula-movil">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="school"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Aula Movil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showLandingPage()">
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-progress-bar type="indeterminate" color="aula-movil" *ngIf="loading"></ion-progress-bar>
  <router-outlet></router-outlet>
  <ion-button expand="block" color="danger" (click)="googleSignIn()">Iniciar con Google</ion-button>
</ion-content>
