<ion-header>
  <ion-toolbar color="aula-movil">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Actividades</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar placeholder="Busca actividades" class="ion-padding"
                 cancelButtonIcon (ionChange)="filterActivities($event)"></ion-searchbar>
  <ion-progress-bar type="indeterminate" color="aula-movil" *ngIf="loading"></ion-progress-bar>
  <app-empty-list *ngIf="activities?.length === 0" emptyText="No se encontraron actividades" [displayBadge]="true"></app-empty-list>
  <ion-list *ngIf="!loading">
    <ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="disableReorder">
      <ion-item-sliding *ngFor="let activity of activities">
        <ion-item-options side="start">
          <ion-item-option color="warning" (click)="showEditActivity(activity)">
            <ion-icon name="create" slot="icon-only"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="showDeleteActivity(activity)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item detail button (click)="showSaveGrades(activity)">
          <ion-reorder slot="start"></ion-reorder>
          <ion-chip slot="start">
            <ion-icon name="book"></ion-icon>
            <ion-label>{{activity.position}}</ion-label>
          </ion-chip>
          <ion-label>
            <span>{{activity.name ? activity.name : 'Sin nombre'}}</span>
            <p *ngIf="!activity.dueDate">Sin fecha de entrega</p>
            <p>{{activity.dueDate | date: 'mediumDate'}}</p>
          </ion-label>
          <ion-badge *ngIf="activity.status === 0" color="medium" slot="end">Sin Calificar</ion-badge>
          <ion-badge *ngIf="activity.status === 1" color="warning" slot="end">
            <ion-label color="dark">Pendiente</ion-label>
          </ion-badge>
          <ion-badge *ngIf="activity.status === 2" color="aula-movil" slot="end">Calificada</ion-badge>
        </ion-item>
      </ion-item-sliding>
    </ion-reorder-group>
    <ion-item lines="none"></ion-item>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="aula-movil" (click)="showAddActivity()">
      <ion-icon name="book-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed" *ngIf="activities?.length > 1">
    <ion-fab-button (click)="disableReorder = !disableReorder" color="medium">
      <ion-icon name="reorder-two-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
