<ion-header>
  <ion-toolbar color="aula-movil">
    <ion-buttons slot="end">
      <ion-button (click)="authService.signOut()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header mode="ios">Cíclo Escolar</ion-list-header>
    <ion-item (click)="showAddSchoolYear()" button>
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-input placeholder="Selecciona un cíclo escolar" readonly></ion-input>
    </ion-item>
    <ion-list-header mode="ios" *ngIf="schoolYear">Grupos</ion-list-header>
  </ion-list>
  <ion-progress-bar type="indeterminate" color="aula-movil" *ngIf="loading"></ion-progress-bar>
  <ion-grid *ngIf="!loading && schoolYear">
    <ion-row>
      <ion-col size="6" *ngFor="let group of groups" class="ion-no-padding">
        <ion-card button="true" (click)="showGroupAction(group)">
          <ion-card-header class="ion-text-center">
            <ion-card-title color="aula-movil">{{group.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-list class="ion-no-padding">
              <ion-item>
                <ion-label>Alumnos</ion-label>
                <ion-note slot="end" color="aula-movil">{{group.students}}</ion-note>
              </ion-item>
              <ion-item>
                <ion-label>Actividades</ion-label>
                <ion-note slot="end" color="aula-movil">{{group.students}}</ion-note>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="aula-movil" [disabled]="!schoolYear" (click)="showAddGroup()">
      <ion-icon name="people-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
