<ion-header>
  <ion-toolbar color="aula-movil">
    <ion-title>Aula Movil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="authService.signOut()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>Cíclo Escolar</ion-list-header>
    <app-school-year (schoolYear)="schoolYearSelected($event)"></app-school-year>
    <ion-list-header *ngIf="schoolYear">Grupos</ion-list-header>
    <app-groups></app-groups>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="aula-movil" [disabled]="!schoolYear" (click)="groupsComponent.showAddGroup()">
      <ion-icon name="people-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
