<ion-header>
  <ion-toolbar color="aula-movil">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Transferir recursos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="ion-no-padding">
    <ion-button size="block" color="aula-movil" class="ion-margin" (click)="showModalGroups(true)">
      <ion-icon name="people" class="ion-margin-horizontal"></ion-icon>Selecciona origen
    </ion-button>
    <ion-list-header *ngIf="originGroup" mode="ios">{{originGroup?.schoolYear | schoolYear}}</ion-list-header>
    <app-group-card [group]="originGroup" *ngIf="originGroup" [actions]="false"></app-group-card>
    <ion-button size="block" color="aula-movil" class="ion-margin" [disabled]="!originGroup"
                (click)="showModalGroups(false)">
      <ion-icon name="people" class="ion-margin-horizontal"></ion-icon>Selecciona destino
    </ion-button>
    <ion-list-header *ngIf="destinyGroup" mode="ios">{{destinyGroup?.schoolYear | schoolYear}}</ion-list-header>
    <app-group-card [group]="destinyGroup" *ngIf="destinyGroup" [actions]="false"></app-group-card>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="aula-movil" [disabled]="!destinyGroup">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="showTransferStudents()">
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="showTransferActivities()">
        <ion-icon name="book"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
