<ion-content fullscreen>
  <ion-list class="ion-no-padding">
    <ion-item-divider color="medium">
      <ion-label>Fechas de entrega</ion-label>
    </ion-item-divider>
    <ion-item detail>
      <ion-label>Fecha inicial</ion-label>
      <ion-datetime display-format="DD/MMMM/YYYY" placeholder="Fecha inicial"
                    cancelText="Cancelar" doneText="Seleccionar" [monthNames]="monthNames"
                    #initialDate (ionChange)="setInitialDate($event)"></ion-datetime>
    </ion-item>
    <ion-item detail>
      <ion-label>Fecha final</ion-label>
      <ion-datetime display-format="DD/MMMM/YYYY" placeholder="Fecha final" [disabled]="!initialDate.value"
                    cancelText="Cancelar" doneText="Seleccionar" [monthNames]="monthNames" [min]="initialDate.value"
                    #finalDate (ionChange)="setFinalDate($event)"></ion-datetime>
    </ion-item>
    <ion-item-divider color="medium">
      <ion-label>Actividades</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let activity of activities">
      <ion-chip slot="start">
        <ion-icon name="book"></ion-icon>
        <ion-label>{{activity.position}}</ion-label>
      </ion-chip>
      <ion-label>
        <span>{{activity.name ? activity.name : 'Sin nombre'}}</span>
        <p *ngIf="!activity.dueDate">Sin fecha de entrega</p>
        <p>{{activity.dueDate?.toDate() | date: 'mediumDate'}}</p>
      </ion-label>
    </ion-item>
    <ion-item-divider color="medium">
      <ion-label>Sin fecha de entrega</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let activity of activitiesNoDueDate">
      <ion-chip slot="start">
        <ion-icon name="book"></ion-icon>
        <ion-label>{{activity.position}}</ion-label>
      </ion-chip>
      <ion-label>
        <span>{{activity.name ? activity.name : 'Sin nombre'}}</span>
        <p *ngIf="!activity.dueDate">Sin fecha de entrega</p>
        <p>{{activity.dueDate?.toDate() | date: 'mediumDate'}}</p>
      </ion-label>
      <ion-checkbox slot="end" (ionChange)="selectActivity($event, activity)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
