<ion-list *ngIf="student; else noStudent">
  <ion-list-header lines="none" mode="ios">
    <ion-label>{{student.name}} {{student.lastName}}</ion-label>
  </ion-list-header>
  <ion-item lines="none">
    <ion-chip color="medium">
      <ion-icon name="school"></ion-icon>
      <ion-label>Promedio {{average | number: '1.0-2'}}</ion-label>
    </ion-chip>
  </ion-item>
</ion-list>
<ng-template #noStudent>
  <ion-list>
    <ion-list-header lines="full" mode="ios">
      <ion-label>Selecciona a un estudiante</ion-label>
    </ion-list-header>
    <ion-list-header lines="none" mode="ios">
      <ion-skeleton-text style="width: 90%;"></ion-skeleton-text>
    </ion-list-header>
    <ion-item lines="none">
      <ion-chip color="medium">
        <ion-skeleton-text style="width: 40px;"></ion-skeleton-text>
      </ion-chip>
    </ion-item>
  </ion-list>
</ng-template>
<ion-list *ngIf="activities.length > 0; else noActivities" [formGroup]="reportCardGroup">
  <ion-item *ngFor="let reportCard of reportCards" button (click)="showScorePicker(reportCard)" detail>
    <ion-chip slot="start">
      <ion-icon name="book"></ion-icon>
      <ion-label>{{reportCard.position}}</ion-label>
    </ion-chip>
    <ion-label>{{reportCard.name ? reportCard.name : 'Sin nombre'}}</ion-label>
    <ion-input slot="end" readonly
               [name]="reportCard.activityUid" [formControlName]="reportCard.activityUid" class="ion-text-center"></ion-input>
  </ion-item>
</ion-list>
<ng-template #noActivities>
  <ion-list>
    <ion-list-header lines="full" mode="ios">
      <ion-label>Selecciona una actividad</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-chip color="medium" slot="start">
        <ion-skeleton-text style="width: 20px;"></ion-skeleton-text>
      </ion-chip>
      <ion-skeleton-text></ion-skeleton-text>
      <ion-skeleton-text slot="end" style="width: 20px;"></ion-skeleton-text>
    </ion-item>
    <ion-item>
      <ion-chip color="medium" slot="start">
        <ion-skeleton-text style="width: 20px;"></ion-skeleton-text>
      </ion-chip>
      <ion-skeleton-text></ion-skeleton-text>
      <ion-skeleton-text slot="end" style="width: 20px;"></ion-skeleton-text>
    </ion-item>
  </ion-list>
</ng-template>
